aiosmtplib==5.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
fastapi==0.128.2
fastapi-mqtt==2.2.0
GeoAlchemy2==0.18.4
gmqtt==0.7.0
greenlet==3.3.2
h11==0.16.0
httptools==0.7.1
idna==3.11
packaging==26.0
psycopg-binary==3.3.3
pydantic==2.12.5
pydantic-settings==2.4.0
pydantic_core==2.41.5
python-dotenv==1.2.2
PyYAML==6.0.3
setuptools==80.9.0
SQLAlchemy==2.0.48
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.30.6
watchfiles==1.1.1
websockets==16.0
